{% load static %}
<!DOCTYPE html>
<html>
	

<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="EduBox - Kết nối gia sư và học sinh">
		<meta name="author" content="zohardata@gmail.com">
		<title>OTM - Kết nối gia sư và học sinh</title>
		<link rel="shortcut icon" href="{% static 'home/images/favicon.png' %}">

		<!-- Main Stylesheet -->
		<link href="{% static 'home/css/style.css' %}" rel="stylesheet">



	</head>
	<body>

		<!-- ============ PAGE LOADER START ============ -->

		<div id="loader">
			<i class="fa fa-cog fa-4x fa-spin"></i>
		</div>

		<!-- ============ PAGE LOADER END ============ -->

		<!-- ============ NAVBAR START ============ -->

		<div class="fm-container">
			<!-- Menu -->
			<div class="menu">
				<div class="button-close text-right">
					<a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
				</div>
				<ul class="nav">
					<li><a href="TrangCaNhan.html">Trang cá nhân</a></li>
					<li><a href="LopHoc.html">Lớp Học</a></li>
					<li><a href="DangBai.html">Đăng bài</a></li>
					<li><a class="link-login">Đăng xuất</a></li>
				</ul>		
			</div>
			<!-- end Menu -->
		</div>

		<!-- ============ NAVBAR END ============ -->

		<!-- ============ HEADER START ============ -->

		<header>
			<div id="header-background"></div>
			<div class="container">

				<div id="menu-open" class="pull-right">
					<a class="fm-button"><i class="fa fa-bars fa-lg"></i></a>
				</div>

			</div>
		</header>

		<!-- ============ HEADER END ============ -->

		<!-- ============ TITLE START ============ -->

		<section id="title">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Lớp học</h1><br>
						<h4>Lớp học đang mở</h4>
					</div>
				</div>
			</div>
		</section>

		<!-- ============ TITLE END ============ -->

		<!-- ============ JOBS START ============ -->

		<section id="jobs">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<h2>Các lớp học đang mở</h2>

						<div class="jobs" id="l-job">																	
						</div>

						<nav>
							<ul class="pagination">
								<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>

					</div>
					<div class="col-sm-4" id="sidebar">

						<!-- Featured Jobs Start -->
						<div class="sidebar-widget">
							<h2>Lớp học phù hợp</h2>
							<div id="c-suit">
							</div>
						</div>
						<!-- Featured Jobs End -->

					</div>
				</div>
			</div>
		</section>

		<!-- ============ JOBS END ============ -->

		<!-- ============ FOOTER START ============ -->

		<footer>
			<div id="credits">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12">
							&copy;   OTM - Kết nối gia sư và học sinh<br>
							Thiết kế &amp; Phát triển bởi <a target="_blank">Nhóm 6</a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Execute get course detail -->
		<script type="text/javascript">
		  	function getCourseDetail(var_id) {
				console.log("Into function with id:" + var_id);
				localStorage.setItem('id_picked_course',var_id);
				$(location).attr('href', 'LopHocChiTiet.html');
			}
		</script>

		<!-- ============ FOOTER END ============ -->

		<!-- Modernizr Plugin -->
		<script src="{% static 'home/js/settings.js' %}"></script>

	</body>


</html>